/* Button */

/* Button */
.btn--global {
  border-radius: 8rem;
  display: inline-block;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.4em;
  overflow: hidden;
  padding: 12px 30px;
  position: relative;
  text-transform: capitalize;
  text-decoration:none;
  
}
