/* Button */

/* Button */
.btn--global {
  border-radius: 8rem;
  display: inline-block;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.4em;
  overflow: hidden;
  padding: 1.6em 3.6em;
  position: relative;
  text-transform: capitalize;

}
