/* Miscellaneous */

.visible--hidden {
  visibility: hidden;
}

 .visible--display {
   visibility: visible;
 }

 .dp--none {
 display: none;
 }

 .dp--block {
  display: block;
  } 

 .overflow--hidden {
  overflow:hidden;
 } 

 .relative__ {
  position:relative;
 }
 
 .absolute__ {
  position:absolute;
 }

 .img--width__full {
    
    img {
      width:100%;
    }
 } 

 input, button {
  &:hover,
  &:active,
  &:focus {
    outline:none;
  }
 }

 .nav {
  align-items: center;

  ul {
    @include dp--flex__align-center;
    margin:0px;
    padding:0px;

    li {
      list-style-type:none;
      margin-right:2.2em;

      a {
        color:$font-color-primary;
        text-decoration:none;
      }
    }
  }
  
 }

/* Hamburger */

.hamburger--toggle {
  height: 25px;
  width: 25px;
  position: relative;
  cursor: pointer;

  .hamburger--toggle__inner {
    position: relative;

    .hamburger--line {
      position:absolute;
      background:$font-color-primary;
      height: 3px;
      width: 100%;
      top: 0;
      border-radius: 10px;
      display: block;

      &:nth-child(2) {
        top:7px;
      }

      &:nth-child(3) {
        top:14px;
      }
    }
  }
}


 /* Animations */

.fadeInUp {
  transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(5px);
    -ms-transform: translateY(5px);
    transform: translateY(5px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

// Animate On Scroll Add Animation

[data-aos=fade-up-short]{
  transform:translate3d(0,20px,0);
  transition-property:-webkit-clip-path;
  transition-property:clip-path;
  transition-property:clip-path,-webkit-clip-path
}
[data-aos=fade-up-short].aos-animate{
  transform:translateZ(0)
}
[data-aos=fade-down-short]{
  transform:translate3d(0,-20px,0);
  transition-property:-webkit-clip-path;
  transition-property:clip-path;
  transition-property:clip-path,-webkit-clip-path
}
[data-aos=fade-down-short].aos-animate{
  transform:translateZ(0)
}

