/* Margins */

.mar-t-0em {
  margin-top:0em !important;
}
.mar-t-2em {
  margin-top:2em !important;
}
.mar-t-3em {
  margin-top:3em !important;
}
.mar-t-4em {
  margin-top:4em !important;
}
.mar-t-5em {
  margin-top:5em !important;
}
.mar-t-6em {
  margin-top:6em !important;
}
.mar-t-8em {
  margin-top:8em !important;
}
.mar-t-10em {
  margin-top:10em !important;
}
.mar-t-12em {
  margin-top:12em !important;
}

.mar-b-0em {
  margin-bottom:0em !important;
}
.mar-b-2em {
  margin-bottom:2em !important;
}
.mar-b-3em {
  margin-bottom:3em !important;
}
.mar-b-4em {
  margin-bottom:4em !important;
}
.mar-b-5em {
  margin-bottom:5em !important;
}
.mar-b-6em {
  margin-bottom:6em !important;
}
.mar-b-8em {
  margin-bottom:8em !important;
}
.mar-b-10em {
  margin-bottom:10em !important;
}
.mar-b-12em {
  margin-bottom:12em !important;
}

/* Paddings */

.pad-t-0em {
  padding-top:0em !important;
}
.pad-t-2em {
  padding-top:2em !important;
}
.pad-t-3em {
  padding-top:3em !important;
}
.pad-t-4em {
  padding-top:4em !important;
}
.pad-t-5em {
  padding-top:5em !important;
}
.pad-t-6em {
  padding-top:6em !important;
}
.pad-t-8em {
  padding-top:8em !important;
}
.pad-t-10em {
  padding-top:10em !important;
}
.pad-t-12em {
  padding-top:12em !important;
}

.pad-b-0em {
  padding-bottom:0em !important;
}
.pad-b-2em {
  padding-bottom:2em !important;
}
.pad-b-3em {
  padding-bottom:3em !important;
}
.pad-b-4em {
  padding-bottom:4em !important;
}
.pad-b-5em {
  padding-bottom:5em !important;
}
.pad-b-6em {
  padding-bottom:6em !important;
}
.pad-b-8em {
  padding-bottom:8em !important;
}
.pad-b-10em {
  padding-bottom:10em !important;
}
.pad-b-12em {
  padding-bottom:12em !important;
}
