/* Add your style below */

header {

    .container {
        max-width:calc($container-max-width + 200px);
        margin:auto;

        nav {

            ul {

                li {

                    a {
                        font-weight:700;
                    }
                }
            }
        }
    }

    .site--logo {
        max-width:250px;
    
        img {
        width:100%;
        }
    }
}
main {
    
    &.main__wrapper {
        min-height: 90vh;
    }
}