/* Add your style below */

header {

    .container {
        max-width:calc($container-max-width + 200px);
        margin:auto;

        nav {

            ul {

                li {

                    a {
                        font-weight:700;
                    }
                }
            }
        }
    }


}